@media screen and (min-width: 700px) {
  header {
    grid-template-columns: 48px minmax(0, 1fr) auto;
  }

  header span {
    font-size: 1.4rem;
  }

  .student-name {
    display: inline;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    background-color: #17324d;
  }

  .navigation ul {
    display: flex;
    justify-content: center;
  }

  .navigation li {
    flex: 1 1 100%;
    max-width: 220px;
    text-align: center;
    background-color: #17324d;
  }

  .main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .course-list {
    grid-template-columns: repeat(3, 1fr);
  }
}